MVC_CRUD/Connected Services/CRUD_Service/CRUD1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MVC_CRUD.Entities.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MVC_CRUD.Entities.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductEntity" nillable="true" type="tns:ProductEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductEntity" nillable="true" type="tns:ArrayOfProductEntity" />
  <xs:complexType name="ProductEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:CategoryEntity" />
          <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="Discontinued" type="xs:int" />
          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuantityPerUnit" type="xs:int" />
          <xs:element minOccurs="0" name="ReorderLevel" type="xs:int" />
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="tns:SupplierEntity" />
          <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
          <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
          <xs:element minOccurs="0" name="UnitsInStock" type="xs:int" />
          <xs:element minOccurs="0" name="UnitsOnOrder" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductEntity" nillable="true" type="tns:ProductEntity" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="CategoryEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryEntity" nillable="true" type="tns:CategoryEntity" />
  <xs:complexType name="SupplierEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SupplierEntity" nillable="true" type="tns:SupplierEntity" />
  <xs:complexType name="ArrayOfCategoryEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryEntity" nillable="true" type="tns:CategoryEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryEntity" nillable="true" type="tns:ArrayOfCategoryEntity" />
  <xs:complexType name="ArrayOfSupplierEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierEntity" nillable="true" type="tns:SupplierEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierEntity" nillable="true" type="tns:ArrayOfSupplierEntity" />
</xs:schema>